<!-- about-us.component.html -->
<div class="container my-5">
    <h2>About Us</h2>
    <p>Learn more about our product  by consulting our presentation:</p>
    <a href="assets/PIX.pdf" target="_blank" class="btn btn-primary">View Presentation</a>
    <h3 class="mt-5">Follow us on social media:</h3>
    <div class="d-flex justify-content-center">
      <a href="https://www.facebook.com/profile.php?id=100091668970286" target="_blank" class="mx-2"><i class="fab fa-facebook fa-2x"></i></a>
      <a href="https://www.instagram.com/fcbayern" target="_blank" class="mx-2"><i class="fab fa-instagram fa-2x"></i></a>
      <a href="https://twitter.com/fcbayern" target="_blank" class="mx-2"><i class="fab fa-twitter fa-2x"></i></a>
    </div>
  </div>
  